<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>signServlet</servlet-name>
        <servlet-class>Controller.signServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmpInfo</servlet-name>
        <servlet-class>Controller.addEmpInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCompInfo</servlet-name>
        <servlet-class>Controller.addCompInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logServlet</servlet-name>
        <servlet-class>Controller.logServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applicationServlet</servlet-name>
        <servlet-class>Controller.applicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>projectServlet</servlet-name>
        <servlet-class>Controller.projectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jobServlet</servlet-name>
        <servlet-class>Controller.jobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signServlet</servlet-name>
        <url-pattern>/signServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmpInfo</servlet-name>
        <url-pattern>/addEmpInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCompInfo</servlet-name>
        <url-pattern>/addCompInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logServlet</servlet-name>
        <url-pattern>/logServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applicationServlet</servlet-name>
        <url-pattern>/applicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projectServlet</servlet-name>
        <url-pattern>/projectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jobServlet</servlet-name>
        <url-pattern>/jobServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
